<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona o HTML</title>
    <meta name="description" content="Podstawowe informacje o HTML, CSS i JS">
    <meta name="keywords" content="html, css, javascript, sda, tarr">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a href="index.html">Home</a>
        <a href="start_html.html">HTML</a>
        <a href="start_js.html">JavaScript</a>
    </nav>
</header>
<main>
    <article>
        <H1>O stronie</H1>
        <p>Strona z podstawowymi informacjami o CSS</p>
    </article>
    <article>
        <h1>Dziedziczenie styli</h1>
        <p>Czysty akapit</p>
        <p class="error">Akapit z klasą</p>
        <p id="paragraph" class="error">Akapit z klasą i id</p>

    </article>
    <article>
        <h1>Kolory</h1>
        <div class="sqare" my-color>  </div>
        <div class="sqare my-with-opacity-color">   </div>
        <div class="sqare my-hsl-color">  </div>
        <article>
            <h1> Rozmiary względne  </h1>
            <p class=" size-big" Big></p>
            <p class=" size-mid" Mid</p>
            <p class=" size-small" Small></p>
        </article>
            <article>
                <h1> Parametr display i elementy liniowe, blokowe i liniowo-blokowe</h1>
                <p>Paragraf z elementem <span></span> typu liniowego</p>
                <p>Paragraf z elementem <span>class="span-with-height"</span> typu liniowego</p>
            </article>
        <article>
            <h1>Nagłówek1</h1>
            <h2>Nagłówek2</h2>
            <h3>Nagłówek3</h3>
            <p>sdfsdfss sdfsdfsf dfdfgdgdfgfdgdf sdfsdfag adfasdfasdfa sdfsdfsdfsf adfsdfasdfadf bvbvcbxvnxvnxvbnxvnx</p>
        </article>
        <article>
            <h1>Pozycjonowanie</h1>
            <div> class="center my-color narrow">
                Div typu static
                <div class="center my-wth-opacity-color smal-square">
                    Div wewnętrzny
                    <p class= "fixed">Akapit pozycjonowany przez fixed</p>
                    <p class= "sticky">Apapit pozycjonwany przez stycky</p>
                </div>
                </div>
            <p class= "sticky">Apapit pozycjonwany przez stycky</p>
        </article>
    </article>
</main>
<footer>

</footer>
</body>
</html>